/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Questrial&family=Roboto:wght@300;700&display=swap");

@font-face {
  font-family: "Calibri";
  src: url("./fonts/calibri_light-webfont.woff2") format("woff2"),
       url("./fonts/calibri_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("./fonts/calibri_light_italic-webfont.woff2") format("woff2"),
       url("./fonts/calibri_light_italic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Calibri";
  src: url("./fonts/calibri_regular-webfont.woff2") format("woff2"),
       url("./fonts/calibri_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("./fonts/calibri_italic-webfont.woff2") format("woff2"),
       url("./fonts/calibri_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibri";
  src: url("./fonts/calibri_bold-webfont.woff2") format("woff2"),
       url("./fonts/calibri_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("./fonts/calibri_bold_italic-webfont.woff2") format("woff2"),
       url("./fonts/calibri_bold_italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

/* GLOBAL */

:root {
  --primary-light: hsl(40 100% 95%);
  --primary-dark: hsl(236 63% 14%);

  --secondary-dark: hsl(228 10% 10%);

  --accent-xlight: hsl(60 100% 50%);
  --accent-light: hsl(52 72% 53%);
  --accent-dark: hsl(52 100% 26%);

  --calibri: "Calibri", sans-serif;
  --questrial: "Questrial", sans-serif;
  --montserrat: "Montserrat", sans-serif;

  --transition-fast: 100ms;
  --transition-reg: 150ms;
  --transition-slow: 200ms;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--calibri);
  font-weight: 300;
}

/* NAVBAR */

nav {
  color: var(--primary-light);
  font-family: var(--questrial);
  background-color: var(--primary-dark);
}

nav ul {
  height: 56px;
  display: flex;
}

nav li {
  display: flex;
  align-items: stretch;
}

nav a {
  font-size: 0.75rem;
  letter-spacing: 0.05ch;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0.625rem;
  display: flex;
  align-items: center;
  transition: background-color var(--transition-slow);
}

nav li:first-child > a {
  padding-left: 0.75rem;
}

nav li:last-child > a {
  padding-right: 0.875rem;
}

nav a:hover {
  background-color: var(--accent-dark);
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

nav .logo > img {
  width: 50px;
  height: 50px;
}

nav .logo > span {
  font-size: 2.25rem;
  font-family: var(--montserrat);
  font-weight: bold;
  letter-spacing: 0;
}

nav .split {
  margin-right: auto;
}

nav .sign-up {
  color: var(--accent-xlight);
  text-shadow: 0 0 3px var(--accent-xlight);
}

/* HERO */

.hero {
  position: relative;
  isolation: isolate;

  font-family: var(--questrial);
  text-align: center;
  color: var(--accent-light);
  background-image: url(./images/index-bg.jpg);
  background-position: bottom;
  height: calc(100vh - 56px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --a1-duration: 800ms;
  --a2-duration: 1200ms;
  --a3-duration: 400ms;

  --a1-delay: 420ms;
  --a2-delay: calc(var(--a1-delay) + var(--a1-duration));
  --a3-delay: calc(var(--a2-delay) + var(--a2-duration));
  --scroll-delay: calc(var(--a3-delay) + var(--a3-duration));
}

.hero > .main-content > *,
.hero::before {
  animation-fill-mode: forwards !important;
  opacity: 0;
}

.hero .welcome {
  font-size: clamp(1.2rem, 1.8vw, 1.5rem);
  animation: welcome-load var(--a1-duration) var(--a1-delay);
}

.hero .title {
  font-family: var(--montserrat);
  font-weight: bold;
  font-size: calc(11vw + 3rem);
  line-height: min(50vh, 1.35em);
  text-transform: uppercase;
  animation: title-load var(--a2-duration) var(--a2-delay);
}

.hero::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;

  background-color: black;
  animation: background-darken var(--a2-duration) var(--a2-delay);
}

.hero .sign-up-button {
  display: inline-block;
  position: relative;
  isolation: isolate;
  overflow: hidden;

  font-size: clamp(0.9rem, 1.3vw, 1.1rem);
  text-decoration: none;
  color: var(--primary-light);

  padding: min(2vw, 0.9em);
  border: 1px solid var(--primary-light);
  border-radius: 4px;

  transition: all var(--transition-slow) ease-out;
  animation: sign-up-load var(--a3-duration) var(--a3-delay);
}

.hero .sign-up-button::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;

  width: 150%;
  background-color: var(--accent-xlight);
  transform: translateX(-100%) skewX(-45deg);
  transform-origin: top left;
  transition: transform var(--transition-slow) ease-out;
}

.hero .sign-up-button:hover {
  color: var(--primary-dark);
  border-color: var(--accent-xlight);
}

.hero .sign-up-button:hover::before {
  transform: translateX(0) skewX(-45deg);
}

.hero .scroll-indicator {
  display: block;
  position: absolute;

  left: 50%;
  bottom: 30px;
  width: 25px;
  height: 70px;

  transform: translateX(-50%);
}

.hero .scroll-indicator::before {
  position: absolute;

  content: "";
  left: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid;
  border-color: transparent var(--primary-light) var(--primary-light) transparent;
  transform: translateX(-50%) rotate(45deg);
  opacity: 0;

  transition: border-color var(--transition-reg);
  animation: scroll-move 1600ms ease-in-out var(--scroll-delay) infinite;
}

.hero .scroll-indicator:hover::before {
  border-color: transparent var(--accent-xlight) var(--accent-xlight) transparent;
}

/* ABOUT */

.about {
  background-image: linear-gradient(white, white 75%, var(--primary-light));
  padding: 20vh min(370px, 20vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about > section {
  position: relative;
  isolation: isolate;

  color: var(--primary-light);
  background-image: var(--image-file);
  background-position: center;
  padding: 2.5rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.about > section:nth-child(1) { --image-file: url(./images/section-1-bg.jpeg); }
.about > section:nth-child(2) { --image-file: url(./images/section-2-bg.jpg); }
.about > section:nth-child(3) { --image-file: url(./images/section-3-bg.jpg); }
.about > section:nth-child(4) { --image-file: url(./images/section-4-bg.jpg); }

.about > section::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;

  background-color: var(--primary-dark);
  opacity: 0.7;
  border-radius: 8px;
}

.about > section:nth-child(even)::before {
  background-color: var(--secondary-dark);
}

.about h3 {
  width: 30%;
  color: var(--accent-light);
  font-size: 1.625rem;
  font-family: var(--questrial);
  font-weight: normal;
  line-height: 1.15em;
  text-shadow: 0 0 5px var(--accent-dark);
}

.about div {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about a {
  color: var(--accent-xlight);
  text-decoration: none;
  transition: text-shadow var(--transition-slow);
}

.about a:hover {
  text-shadow: 0 0 3px var(--accent-xlight);
}

/* PRAISE */

.praise {
  color: var(--secondary-dark);
  background-color: var(--primary-light);
  padding: 20vh min(370px, 20vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.praise > h2 {
  font-size: min(calc(6.25vw + 0.5rem), 2.75rem);
  font-family: var(--montserrat);
  line-height: 0.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75ch;
}

.praise .select {
  position: relative;
  width: 8em;
  user-select: none;
}

.praise .dropdown {
  position: relative;
  isolation: isolate;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.praise .dropdown::before,
.praise .dropdown::after {
  position: absolute;
  content: "";

  width: calc(100% + 0.4em);
  height: calc(100% + 0.4em);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.375em;
}

.praise .dropdown::before {
  z-index: -1;
  border: 2px solid black;
}

.praise .dropdown::after {
  z-index: -2;
  background-image: var(--image-file);
  background-position: center;
  opacity: 0.3;
  transition: opacity var(--transition-reg);
}

.praise .dropdown:hover::after {
  opacity: 0.5;
}

.praise .caret {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid black;
  transition: transform var(--transition-fast) ease-in;
}

.praise .select.active .caret {
  transform: translateX(-2px) rotate(-90deg);
}

.praise .options {
  display: none;
  position: absolute;
  z-index: 100;
  font-size: 0.45em;
}

.praise .select.active > .options {
  margin-top: 5px;
  display: flex;
  gap: 1em;
}

.praise .dropdown,
.praise .options > li {
  cursor: pointer;
}

.praise > ul {
  margin-top: 3.125rem;
}

/* ANIMATIONS */

@keyframes welcome-load {
  0% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes title-load {
  0% {
    transform: translateY(-10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes background-darken {
  100% {
    opacity: 0.6;
  }
}

@keyframes sign-up-load {
  0% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll-move {
  0% {
    opacity: 0;
    bottom: 70px;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    bottom: 0;
  }
}
